
/* :root{
    outline: #b1a6a6;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto,Sans-Serif,Arial;
}
html {
    color: rgba(36,39,44,.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.main{
    position: relative;
}

.header{
    background: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 6px 0 rgba(36,39,44,.15);
    transition: all 0s ease-in;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.header .topheader{
    padding: 15px;
}
.logorow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.logo a img{
    height: 42px;
    margin: 0;
    max-width: 100%;
    width: 100%;
}
.searcharea{
    display: flex;
    flex-direction: row;
    width: 30%;
}
.searcharea .text{
    width: 90%;
    border-radius: 5px;
    
}
.searcharea .text input {
    width: 100%;
    height: 45px;
    /* border-radius: 5px; */
    background-color: #f7f7f7;
    border: none;
    padding-left: 5px;
    box-shadow: inset 0 0 5px #cdcdd5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 15px;
}
.text{
    display: flex;
    flex-direction: row;
    
}
.searchlens{
    color: #f7f7f7;
    background-color: black;
    height: 45px;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.language{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
}
.languagelist{
    padding-top: 5px;
    border: none;
}
.languagelist select{
    border: none;
    text-decoration: underline;
}
.login{
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
.bottomheader{
    box-shadow: 0 0px 4px 0 rgba(36,39,44,.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 8px 0;
}
.categories{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.categories a {
    font-size: 17px;
    font-weight: 500;
    color: rgb(30, 30, 30);
    text-decoration: none;    
    padding-top: 3px;
}
.tags{
    display: flex;
    flex-direction: row;
    padding: 0 14px;
}
.location{
    display: flex;
    margin-right: 50px;
    padding-top:5px;
}
.place{
    padding: 0 5px;
}
.newcars a{
    text-decoration: overline solid 3px orangered;
}

/* ...................................header ends here....................... */

/* .........SIDEBAR........... */
.scroll{
    display: flex;
    flex-direction:row;
    position: relative;
    top: 0px;
}


.sidebar{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 50px;
    position: sticky;
    top: 120px;
    overflow-y: scroll;
    height: 100vh;
    
}

.collapsefilter{
    border: 1px solid #cecbcb;
    border-radius:10px;
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: black;
}
.collapsefilter p{
    padding: 13px;
}
input[type=range]{
    width: 30px;
    height: 15px;
}
.certified{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-radius:10px;
    width: 300px;
    height: 50px;
    align-items: center;
    border: 1px solid rgb(223, 138, 138);
    background-color: #fdf6f5;
    margin: 15px 0;
    padding: 15px 5px;
    
}
.budget{
    display: flex;
    flex-direction:column;
    width: 300px;
    height: 380px;
    border: 1px solid #cecbcb;
    border-radius:10px;
}
.budget .range{
    display: flex;
    flex-direction:row;
    width: 100%;
    font-size: 16px;
    color: black;
    font-weight: 600;
    justify-content: space-between;
    padding: 0 10px;
}
.budget{
    padding-top: 15px;
}
.budget .price{
    display: flex;
    flex-direction:row;
    width: 100%;
    /* font-size: 12px; */
    color: orangered;
    justify-content: space-between;
    padding: 15px 10px;
}
.price span{
    font-size: 17px;
    font-weight: 400;
    /* padding: 5px 0; */
}
.carprice{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px;
}
.carprice p{
    font-size: 14px;
    color: black;
}
.carprice .checkbox{
    padding: 0 5px;
}
.model{
    margin: 20px 0;
    height: 320px;
}
.expand{
    font-size: 15px;
    /* height: 100%; */
}
.rupee{
    padding-right: 30px;
}
.sortcategory{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    width: 300px;
    height: 60px;
    border: 1px solid #cecbcb;
    border-radius:10px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 15px 0;
}
.sortcategory .expand{
    display: flex;
    flex-direction:row;
    width: 100%;
    font-size: 16px;
    color: black;
    font-weight: 600;
    justify-content: space-between;
    padding: 0 10px;
}

/* .................Central section begins here.......... */
.central-section{
    padding-top: 50px;
    width: 75%;
    padding-right: 100px;
    padding-left: 20px;
    position: relative;
    /* left: 25%; */
    top: 120px;
}
.models{
    color: blue;
}
.modelprice{
    width: 100%;
    box-shadow: 0 0px 3px 0 rgba(125, 126, 128, 0.15);
    border-collapse: collapse;
}
.modelprice tr td{
    width: 50%;
    border: 1px solid #cecbcb;
    height: 35px;
    padding: 0 10px;
    color: black;
}
.head{
    background-color: #f7f7f7;
}
.readless{
    text-decoration: underline;
    padding: 12px 0;
}


/* ..........................advertisement section................. */
.advertisements{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px 0;
    justify-content: space-between;
}
.adpics{
    width: 320px;
    height: 180px;
}


/* ..........................owners section.......................... */
.owners{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 0 50px 0;
    justify-content: space-between;
    color: black;
}
.button{
    background-color: #fff;
    border: 1px solid #cecbcb;
    border-radius: 5px;
}
.unfold{
    padding-top: 1px;
    font-size: 13px;
}
.relevance{
    font-size: 14px;
    padding-right: 2px;
    color: rgb(58, 57, 57);
}


/* ........................cards section begins here.................... */
.card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 60px;
}
.carads{
    width: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 10px 0 rgba(85, 86, 87, 0.25);
    border-radius: 10px;
    padding-bottom: 35px;
}
.carads .carpics{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 230px;
}
.carads .title{
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
}
.carads .title h3{
    font-size: 18px;
}
.carads .newprice{
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
}
.emi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
}
.sellerdetail{
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    
}

/* ........................this section is for bluebox .................*/
.bluebox{
    width: 100%;
    height: 180px;
    background-color: #e3f4ff;
    margin-bottom: 60px;
    border-radius: 10px;
}
.whitebox{
    color: black;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left space-evenly;
}
.bluebox h3{
    color: black;
    padding: 20px 20px 5px 30px;
    font-size: 18px;
    letter-spacing: 1.3;
}
.whites{
    background-color: #fff;
    height: 35px;
    width: 200px;
    margin:10px 40px 10px 10px;
    border: none;
    box-shadow: 0 0px 10px 0 rgba(85, 86, 87, 0.25);
    border-radius: 5px;
}

/* ...............FAQ section begins here.................... */
.faq{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0px 10px 0 rgba(85, 86, 87, 0.25);
    padding: 20px 15px;
}
.faq h2{
    padding: 10px;
    color: black;
}
.questions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px;
    color: black;
}
.questions span{
    font-size: 15px;
    color: grey;
}
.faq hr{
    width: 99%;
    color: grey;
}

/* .......................car details section begins here.................... */
.cardetail{
    color: black;
    width: 100%;
    margin: 60px 0;
}
.cardetail p{
    margin: 10px;
    font-weight: 100;
    letter-spacing: 0.1em;
    color: rgb(37, 36, 36);
}
.cardetail h2{
    padding: 10px;
}
.last{
    font-size: 11px;
    color: gray;
}

/* ...............................footer_section begins here.............................. */

.one{
    box-shadow: 0 3px 3px rgba(36,39,44,.15);
    margin-right: 1vw;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: white;
  
   margin-top: 8vh;
 
}
.footer .first_div{
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
    padding-right: 1vw;
}
.footer .first_div p{
    color: gray;
    margin-top: 1vh;
}
 .first_div .first1{
    display: flex;
    align-items: center;
}
.first1 span{
    font-size: 50px;
}
.footer .sec_div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid  lightgray;
    border-bottom: 1px solid  lightgray;
    
    margin-top: 2vw;
    padding: 3vw 4vw 0vw 3vw;
    
}
.sec_div .ul_div{
    display: flex;
 
 width: 70%;  
 height: 60vh;
 justify-content: space-around;
 
   
}
.ul_div ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 2.5rem;
    font-size: 14px;
    list-style: none;
    word-spacing: 0.2rem;
}
.sec_div .branch{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.branch div{
  display: flex;
  justify-content: space-between;
}
.branch div span{
   margin-right: 1vw;
}
.footer .third_div{
    display: flex;
    align-items: end;
    justify-content: end;
  padding: 1vw 4vw;
    gap:3vw;
    font-size: 25px;
}
.footer li:hover{
    color: red;
}
.responsive_footer{
    display: none;
}
 @media (max-width:900px) {
    .section2{
        margin-top: 10vw;
        margin-left: 0px;
     width: 100%;
     box-shadow: 0 3px 3px rgba(36,39,44,.15);
        scrollbar-color:blue;
        

    }
    .section2 ul{
        gap:5vw;
        width:100%;
    }
    .feature_tag1{
    width: auto;  
    overflow-x: scroll;
  gap:5vw;
  
    
 }
 .tag1{
    background-color: white;
    height: auto;
  border-radius: 0.5rem;
    
 }
 .section2 img{
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
 }
 #section7 ul{
  justify-content: space-between;
   
    width: auto;
    font-size: 13px;
 }
  .section12{
    margin-top: 15vw;
    box-shadow: 0 3px 3px rgba(36,39,44,.15);
    background-color: white;
 }
 #section13 ul{
    width: auto; 
   
 }
 .grid2{
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,20%);
 }
 .one{
   
    height: 15vh;
    background-color: white;
    overflow: hidden;
 }
 .one p{
    color:white;
 }
 #section8 ul{
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(2,45%);
 }
 #section11{
    flex-direction:column;
    margin-left: 0px;
    width: 100%;
  

 }
 .grid{
    width: 100%;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(4,20%);
    background-color: white;
 }
 .sec12{
    width: 100%;
    margin-top: 30px;
 }
 .sec12 select{
    width: 90%;
    margin-left: 0px;
    padding-left: 3vw;
    margin-bottom: 2vh;
   
 }
 #section9 ul{
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(6,50%);
 }
 .feature_tag1::-webkit-scrollbar{
    display: none;
 }
 form ,.section1, button{
    display: none;
 }
 .section1{
    background-size: cover;
    background-position:right;
    

 }
 .sec1_res{
    width: 99vw;
    display:flex;
    margin-top: 2vh;
 }
 .sec1_res ul::-webkit-scrollbar{
    display: none;
 }
 .sec1_res ul{
    display: flex;
    gap:5vw;
    overflow: scroll;
    margin-left: 1vw;
    list-style: none;
 }
 .sec1_res li,img{
    border-radius: 0.9rem;
 }
 .tt1 span{
    display: flex;
    color: red;
    margin-top: 5vw;
    font-size: 18px;
 }
 .tt2 button{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .tt2{
    margin-right: 3vw;
 }
 .sec2_res{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 5svw;
    justify-content: space-between;
   
 }
 .sec2res_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    column-gap: 3vw;
 }
 .sec2_div1{
    display:grid;
    justify-content:space-around;
    grid-template-rows: 40% 40%;
    grid-template-columns: 50% 50%;
   width: 99.5vw;
row-gap: 15%;
   padding-bottom: 3vw;
   padding-left: 5vw;
  
   
   list-style: none;
    
 }
 .q{
   width: auto;
    
   
 }
 .q img{
    width:90%;
 }
  .div2{
    display: flex;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    height: 6vh;
  background-color: lightgrey;
    margin: 3vh 5vh;
    border-radius: 0.5rem;
    border: none;
 }
  
 #section9 h5{
    display:none;
 }
 #section9 ul::-webkit-scrollbar{
    display: none;
 }
 .section12 .grid2{
     margin-bottom: 10vh;
 }
 .ses2_r{
    display: none;
 }
 .sec2_l{
    display: none;
 }
 .responsive_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 5vh;
    height: 80vh;
    padding-left: 5vw;
    padding-top: 3vw;
    padding-right: 3vw;
    font-size: 13px;
    background-color: white;
    box-shadow: 0 3px 3px rgba(36,39,44,.15);
    margin-top: 5vw;
 }
 .res_div1{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
   
    height: 25%;
}
.res_div1 img{
    width: 20vw;
}
.res_div1 ul{
    width: 40%;
    display: flex;
justify-content: space-around;

list-style: none;
}
.res_div2{
    height:35%; 
   border-bottom: 1px solid lightgray;
   border-top: 1px solid  lightgray;
   padding-bottom: 1vh;
}
.res_div2 ul{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 14px;
   height: 100%;
   list-style: none;
 
}
.res_div2 ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.res_div3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
}
.res_div3 div{
    display: flex;
    gap:5vw;
}
.res_div3_last{
    text-align: center;
}
.footer{
    display: none;
}
.responsive_nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 3vw;
}
.nav_div1{
    display: flex;
    justify-content: space-between;
    padding-right: 2vw;
   padding-top: 2vw;
    align-items: center;
}
.nav_div1p{
    display: flex;
   
    
    justify-content: space-between;
    align-items: center;
   
}
.nav_div1p img{
   width:25vw;
}
.nav_div1 span{
    font-size: 30px;
    color: gray;
}
.navs_div2{
    margin-top: 1vw;
    width: 100%;
   padding-left: 3vw;
   position: relative;
}
.navs_div2 input{
    width: 95%;
    border-radius: 1.5rem;
    height: 7vh;
    background-color: rgba(221, 218, 218, 0.329);
    border: none; 
    padding-left: 8vw;
   position: relative;
}
.navs_div2 span{
    position: absolute;
    left: 5vw;
   bottom: 3vw;
}
}

.followus{
    display: flex;
    flex-direction: column;
}
.followus .bottom{
    width: 150px;
    padding: 10px 0;
    font-size: 20px;
}
.end{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.companies{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}
